:root{
    --color-cara:#1d1d1d;
    --color-puntos:white;
    --altura: 500px;
    --anchura: 500px;
}

*{
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: #29303f;   
    display: grid;
    align-items: center;
    justify-content: center;
}

.container .cubo span{
    color:white;
    font-size: 3em;
    z-index: 1000;
}

.container{
    perspective: 700px;
    perspective-origin: 0 -200px;
    position: relative;
}

.cubo{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: girar 5s infinite linear;
    position: relative;    
}

.cara::before{
    content:"";
    position: absolute;
    width: 140px;
    height: 600px;
    background: linear-gradient(blue,violet);
    top:-200px;
    left: 30px;
    animation: girarLuces 5s infinite linear;
}

.cara::after{
    content: "";
    position: absolute;
    inset: 5px;
    background: var(--color-cara);
}

@keyframes girarLuces{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.cubo:hover{
    animation: desplome 1s linear both;
    transform: rotateY(20deg) translateY(100px);
}

@keyframes girar{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes desplome{
    0%{
        transform: rotateY(0deg) ;
    }
    50%{
        transform: rotateY(300deg) translateY(100px) rotateX(80deg);
    }
    75%{
        transform: rotateY(380deg) translateY(100px) rotateX(-10deg);
    }
    100%{
        transform: rotateY(380deg) translateY(100px) rotateX(0deg);
    }
  
}

.cara{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.area{
    display: grid;
    align-items: center;
    justify-content: center;
}

#uno{
    display: grid;
    place-content: center;
    background: var(--color-cara);
    transform: translateZ(-100px);
}

#dos{
    display: grid;
    place-content: center;
    background: var(--color-cara);
    transform: translateX(100px) rotateY(90deg);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#dos #punto1{
    grid-column: 3;
    grid-row: 2;
}
#dos #punto2{
    grid-column: 3;
    grid-row: 4;
}

#tres{
    background: var(--color-cara);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: translateX(-100px) rotateY(90deg);
}

#tres #punto1{
    grid-column: 3;
}

#tres #punto2{
    grid-column: 2;
    grid-row: 2;
}

#tres #punto3{
    grid-row: 3;
}

#cuatro{
    background: var(--color-cara);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    transform: translateY(-100px) rotateX(90deg);
}

#cuatro #punto1{
    grid-column: 2;
    grid-row: 2;
}

#cuatro #punto2{
    grid-column: 6;
    grid-row: 6;
}

#cuatro #punto3{
    grid-column: 2;
    grid-row: 6;
}

#cuatro #punto4{
    grid-column: 6;
    grid-row: 2;
}

#cinco{
    background: var(--color-cara);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    transform: translateY(100px) rotateX(90deg);
}

#cinco #punto1{
    grid-column: 2;
    grid-row: 2;
}

#cinco #punto2{
    grid-column: 2;
    grid-row: 5;
}

#cinco #punto3{
    grid-column: 6;
    grid-row: 2;
}

#cinco #punto4{
    grid-column: 6;
    grid-row: 5;
}

#cinco #punto5{
    grid-column: 4;
    grid-row: 4;
}

#seis{
    background: var(--color-cara);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    transform: translateZ(100px);
}

#seis #punto1{
    grid-column: 2;
    grid-row: 2;
}

#seis #punto2{
    grid-column: 2;
    grid-row: 4;
}

#seis #punto3{
    grid-column: 2;
    grid-row: 6;
}

#seis #punto4{
    grid-column: 6;
    grid-row: 2;
}

#seis #punto5{
    grid-column: 6;
    grid-row: 4;
}

#seis #punto6{
    grid-column: 6;
    grid-row: 6;
}

#sombra{
    background: red;
    width: 200px;
    height: 200px;
    background: var(--color-cara);
    transform: translateY(90px) rotateX(90deg);
    animation: girarSombra 5s linear infinite;
    z-index: -1;
    opacity: 0.1;
}

.container:hover > #sombra{
    display:none;
   
}

@keyframes girarSombra {
    0%{
        transform: translateY(90px) rotateX(90deg) rotateZ(0deg);
    }
    100%{
        transform: translateY(90px) rotateX(90deg) rotateZ(-360deg);
    }
}

/* TARJETA NEON */

.card{
    width: 300px;
    height: 400px;
    background: black;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card::after{
    content:"";
    width: var(--anchura);
    height: var(--altura);
    position: absolute;
    background-image: conic-gradient(transparent,transparent, 
    transparent,transparent,violet);
    animation: girar2 4s linear infinite;
    animation-delay: -2s;
}

.card::before{
    content:"";
    width: var(--anchura);
    height: var(--altura);
    position: absolute;
    background-image: conic-gradient(transparent,transparent, 
    transparent,transparent,blue);
    animation: girar2 4s linear infinite;
}

@keyframes girar2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}

.card #span1{
    background: #1e1e1e;
    inset: 5px;
    position: absolute;
    z-index: 1;
    color: white;
    display: grid;
    place-content: center;
    font-size: 7em;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#reflejo{
    position: absolute;
    top: 250px;
    z-index: 1;
    font-size: 7em;
    font-weight: 700;
    transform: rotateX(180deg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.089);
    filter: blur(5px);
}

/* MOVIL */

@media(max-width:700px){
    body{
        height: 150vh;
    }
    .d-flex{
        gap: 500px;
    }
}